<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8" width="device-width" >
        <title>The GR Petroleum Website</title>
        <link rel="stylesheet" href="style.css">
    </head>
<main>